html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', 'OpenSans', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #0f0101;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu-nav {
  padding: 25px 0;
}

.logo {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #555252;
  float: left;
  font-size: 30px;
  line-height: 32px;
  font-weight: 300;
}

.logo:hover::first-letter {
  color: #1abc9c;
  font-weight: bold;
}

.site-navigation {
  float: right;
  margin: 0;
  padding: 0;
}

.site-navigation-item {
  float: left;
  padding: 7px 14px;
  list-style: none;
}

.site-navigation-item:last-child {
  padding-right: 0;
}

.site-navigation-item a {
  display: block;
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #1f1212;
}

.site-navigation-item a:hover,
.site-navigation-item a:focus {
  color: #1abc9c;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

.slider {
  background-image: url(../img/paris_tours.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-title {
  position: relative;
  min-height: 600px;
}

.btn-ctrl {
  position: absolute;
  display: inline-block;
  padding: 0;
  width: 104px;
  height: 104px;
  border: 0;
  top: 50%;
  transform: translateY(-73%);
  opacity: 0.6;
  background-color: rgba(78, 198, 171, 0.65);
  cursor: pointer;
}

.btn-ctrl-prev {
  background-image: url(../img/left.jpg);
}

.btn-ctrl-next {
  background-image: url(../img/right.jpg);
  right: 15px;
}

.btn-ctrl:hover {
  opacity: 1;
}

.slider-list {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 18%;
  width: 766px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  transform: translateY(-86%);
  list-style: none;
}

.slider-about {
  margin: 0;
  margin-bottom: 44px;
  font-weight: 900;
  font-size: 60px;
}

.slider-descr {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
}

.section {
  padding: 0;
  margin: 0;
  padding-top: 102px;
  padding-bottom: 100px;
  background-color: #e9f0fd;
}

.section-title {
  position: relative;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 32px;
  margin-bottom: 83px;
}

h2.section-title:after {
  content: '';
  display: block;
  width: 164px;
  height: 8px;
  margin: 0 auto;
  margin-top: 32px;
  background: #1abc9c;
}

.section-goods {
  margin: 0 auto;
  padding: 0;
}

.section-goods-item {
  float: left;
  width: 255px;
  height: 322px;
  margin-right: 30px;
  list-style: none;
  position: relative;
}

.section-goods-item:nth-child(4n) {
  margin-right: 0;
}

.under-img {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.section-goods-descr {
  margin: 0;
  float: left;
  padding: 4px 0;
  width: 200px;
  height: 40px;
  background-color: #323232;
  color: #ffffff;
}

.section-goods-price {
  float: right;
  margin: 0;
  padding: 4px 0;
  width: 55px;
  height: 40px;
  background-color: #8c8c8c;
  text-align: center;
}

.section-goods li:hover .section-goods-descr {
  background-color: #1abc9c;
}

.section-goods li:hover .section-goods-price {
  background-color: #7fd9c7;
}

.product-icons {
  position: absolute;
  top: 0;
  width: 100%;
  height: 282px;
  border: 10px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.55);
  opacity: 0;
}

.section-goods-item:hover .product-icons {
  opacity: 1;
}

.product-icons ul {
  position: absolute;
  margin: 0 auto;
  padding: 0;
  top: 50%;
  left: 50%;
  width: 168px;
  list-style: none;
  transform: translate(-47%, -50%);
}

.product-icons li {
  float: left;
  margin-right: 9px;
}

.icon a {
  display: block;
  width: 50px;
  height: 50px;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  background-repeat: no-repeat;
  background-position: center;
}

.favorite a {
  background-image: url(../img/favorite.png);
}

.shuffle a {
  background-image: url(../img/shuffle.png);
}

.time a {
  background-image: url(../img/time.png);
}

.add-card a {
  background-image: url(../img/basket.png);
}

.product-icons li:nth-child(3n) {
  margin-right: 0;
}

.add-card {
  margin-top: 7px;
}

.add-card a {
  width: 168px;
  font-size: 14px;
  line-height: 50px;
  background-position: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding-left: 60px;
}

li .add-card {
  margin-right: 0;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.product-icons .favorite:hover,
.product-icons .shuffle:hover,
.product-icons .time:hover,
.product-icons .add-card:hover {
  background-color: #1abc9c;
}

.page-footer {
  position: absolute;
  width: 100%;
  background-color: #323232;
  color: #ffffff;
}

.page-footer p {
  margin: 0;
  padding: 36px 0;
  text-align: center;
  font-family: 'OpenSans', sans-serif;
  font-size: 16px;
  line-height: 1.75;
}

.footer-word {
  text-decoration: none;
  color: #fefefe;
}

.page-footer:hover .footer-word {
  color: #3b746a;
  cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
