html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', 'OpenSans', sans-serif;
  color: #515151;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.page-header {
  margin-bottom: 98px;
  padding-top: 12px;
}

.wrapper {
  margin: 0 auto;
  width: 1140px;
  padding: 0 15px;
}

.logo {
  margin: 0;
  display: block;
  font-family: 'Roboto', sans-serif;
  float: left;
  color: #555252;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
}

.logo::first-letter {
  font-weight: bold;
  color: #1abc9c;
}

.menu-nav {
  font-family: 'OpenSans', sans-serif;
  font-weight: bold;
}

.site-navigation {
  margin: 0;
  padding: 0;
  float: right;
  margin-top: 8px;
}

.menu-nav-item {
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 28px;
  list-style: none;
}

.menu-nav-item a {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 11px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'OpenSans', sans-serif;
  color: #0f0101;
}

.site-navigation li:last-child {
  margin-right: 0;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.features {
  margin: 0;
  padding: 0;
  padding-bottom: 104px;
}

.features-title {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 900;
  line-height: 32px;
  margin-bottom: 92px;
}

h2.features-title:after {
  content: ' ';
  background: #1abc9c;
  width: 164px;
  height: 7px;
  display: block;
  margin-left: 476px;
  margin-top: 34px;
}

.one-feat {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.one-feat-item {
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 255px;
  height: 322px;
  list-style: none;
  position: relative;
}

.one-feat li:nth-child(4n) {
  margin-right: 0;
}

.one-feat-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
  margin-top: 0;
}

.one-feat-img {
  background-color: #e9f0fd;
}

.one-feat-descr {
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
}

.one-feat-name,
.one-feat-price {
  float: left;
  margin: 0;
  font-size: 18px;
  color: #ffffff;
  padding-top: 7px;
  padding-bottom: 7px;
}

.one-feat-name {
  width: 201px;
  background-color: #323232;
}

.one-feat-price {
  width: 54px;
  background-color: #8c8c8c;
  text-align: center;
}

.one-feat li:hover .one-feat-name {
  background-color: #1abc9c;
}

.one-feat li:hover .one-feat-price {
  background-color: #7fd9c7;
}

.one-feat-item {
  cursor: pointer;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.news {
  margin: 0;
  padding: 0;
}

.two-news {
  margin: 0;
  padding: 0;
  float: inherit;
  margin-bottom: 80px;
}

h2 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #555252;
  font-size: 48px;
  font-weight: 900;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
}

h2.two-news:after {
  content: ' ';
  background: #4ec6ab;
  width: 164px;
  height: 7px;
  display: block;
  margin-left: 468px;
  margin-top: 36px;
}

.two-news-item {
  margin: 0;
  float: left;
  margin-right: 30px;
  width: 350px;
  list-style: none;
  position: relative;
}

.two-news li:nth-child(3n) {
  margin-right: 0;
}

.two-img {
  width: 350px;
  height: 261px;
  margin-bottom: 10px;
}

.two-news-descr {
  bottom: 0;
}

.two-text {
  margin: 0;
  font-family: 'OpenSans', sans-serif;
  color: #555252;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  text-align: left;
}

.two-text:after {
  content: ' ';
  background: #4ec6ab;
  width: 136px;
  height: 3px;
  display: block;
  margin-top: 9px;
}

.two-text-cont {
  float: left;
  margin: 0;
  font-size: 18px;
  color: #555252;
  margin-bottom: 12px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.btn {
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  background-color: #4ec6ab;
  width: 160px;
  height: 52px;
  cursor: pointer;
  border-radius: 2px;
  font-family: 'OpenSans', sans-serif;
  color: #ffffff;
  padding: 14px 40px 40px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

.two-news li:hover .btn {
  background-color: #7fd9c7;
}
